@font-face {
   font-family: 'Karla-Regular';
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Bold';
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-bottom: 20px;
    min-width: 1820px;
    overflow-x: scroll;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a,a:hover {text-decoration:none;}
.clear{clear: both;}
.container{max-width:none;}

.text-blue{color:#28AAE1;}
/*nav*/
.navbar{background-color: rgb(230,230,229);color:rgb(55,79,115);line-height:19.2px;font-size:16px;font-family:Karla-Regular;margin-bottom:0;}
.navbar-paddingtop{padding-top:23px;}
.navbar-height{height:72px;}
.navbar .logo{display:inline-block;padding-left:37px;padding-right:37px;vertical-align: top;border-right:1px solid #F8F8F8;float:left;padding-top:13px;}
.navbar .logo>img{width:35px;height:40px;}
.navbar .container{max-width:none;}
.navbar .container ul{list-style:none;}
.navbar .container ul li{display: inline;list-style-type: none;padding-left:17px;padding-right:17px;}
.navbar .container .navbar-left{padding-left:22px;}
.navbar .container .navbar-right{float:right;}
.navbar .container .navbar-right .noteBtn{margin-right:21px;}
.navbar .container .navbar-right .noteBtn>img{fill:#374F73;width: 25px;}
.navbar .container .navbar-right .searchBtn>img{fill:#374F73;width: 25px;}
.navbar .container .nav-logout{border-left:1px solid #F8F8F8;width:218px;display: inline-block;float:right;padding-top:9px;padding-left:40px;padding-right:0px;}
.navbar .container .nav-logout >div{display:inline-block;}
.navbar .container .nav-logout >div.sign-out{width:45%;margin-right: 10px;cursor:pointer;}
.navbar .container .nav-logout >div.profile{width:40%;}
.navbar .container .nav-logout >div.profile>img{border-radius:5px;height:52px;width:52px;border-radius:25px;}

/*left menu*/
.body-content {margin-top: -19px;clear:both;}
.body-content .leftMenu{width:331px;background-color:rgb(55,79,115);display:inline-block;float:left;color:#fff;width:331px;min-height: 1000px;}
.body-content .leftMenu ul{list-style:none;padding-left:0;}
.body-content .leftMenu ul:nth-child(1){margin-top: 18px;}
.body-content .leftMenu ul:nth-child(2){margin-top:2px;}
.body-content .leftMenu ul img.menu-icon{width:15px;}
.body-content .leftMenu ul li{padding-top:10px;padding-bottom:10px;font-family:Karla-Regular;font-size:16px;line-height:19.2px;padding-left:40px;cursor:pointer;}
.body-content .leftMenu ul li.menu-title{color:rgb(25,38,58);font-family:Karla-Bold;text-transform:uppercase;line-height:13.2px;letter-spacing:0.05em;font-size:11px;}
.body-content .leftMenu ul li.menu-selected{background-color:#19263A;clear:both;}
.body-content .leftMenu ul li img.claim-icon{width:33px;height:19px;float: right;}
.body-content .leftMenu ul.menu-nav li:last-child{padding-right:40px;}
.body-content .content-main{width:auto;}

/*content*/
.body-content .padding-left{padding-left:370px;}
.body-content .max-width{max-width:1566px;}
.body-content .content-main{width:auto;}
.body-content .content-breadcrumb{height:41px;padding-top:10px;font-family:Karla-Regular;color:#A8A8A8;padding-right:25px;border-bottom:1px solid #EBEBEA;}
.body-content .content-breadcrumb .btns{height:57px;display:inline-block;float:right;}
.body-content .content-breadcrumb .btns > a:first-child{margin-right:30px;}
.body-content .content-claimId{color:#435A7C;font-family: Karla-Regular;font-size: 25px;padding-top: 17px;padding-bottom:16px;}
.body-content .content-operation-area{height:43px;}
.body-content .content-operation-area .operation-container{background-color:#D4EEF9;height:43px;padding-top:10px;padding-left:20px;border-radius:5px;}
.body-content .content-operation-area .operate-button{display:inline-block;margin-right:30px;cursor:pointer;}
.body-content .content-claim-status{padding-top: 25px;}
.body-content .content-claim-status ol.progtrckr {margin: 0;padding: 0;list-style-type: none;font-family:Karla-Bold;text-transform:uppercase;font-size:11px;line-height:13.2px;}
.body-content .content-claim-status ol.progtrckr li {display: inline-block;text-align: left;line-height: 4.9em;letter-spacing:0.05em;}
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="5"] li { /*width: 16%;*/width:294px; }
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
.body-content .content-claim-status ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }
.body-content .content-claim-status ol.progtrckr li.progtrckr-done {color: black;border-top: 4px solid #374F73;}
.body-content .content-claim-status ol.progtrckr li.progtrckr-doing {color: black;border-top: 4px solid #3DAFE2;}
.body-content .content-claim-status ol.progtrckr li.progtrckr-todo {color: silver; border-top: 4px solid white;width:10%;}
.body-content .content-claim-status ol.progtrckr li >span:first-child {margin-left:-10px;}
.body-content .content-claim-status ol.progtrckr li >span.center {margin-left:-56px;}
.body-content .content-claim-status ol.progtrckr li.progtrckr-todo>span {margin-left:-57px;}
.body-content .content-claim-status ol.progtrckr li:after {content: "\00a0\00a0";}
.body-content .content-claim-status ol.progtrckr li:before {position: relative;top: -0.7em;float: left;left: 0;line-height: 1em;}
.body-content .content-claim-status ol.progtrckr li.progtrckr-done:before{content: "";color: white;background-color: #374F73;height: 1.0em;width: 1.0em;line-height: 1.0em;border: none;border-radius: 1.0em;}
.body-content .content-claim-status ol.progtrckr li.progtrckr-doing:before{background-color: white;content: "\039F";color: #3DAFE2;font-size: 1.3em;bottom: -1.6em;}
.body-content .content-claim-status ol.progtrckr li.progtrckr-todo:before {content: "";color: silver;background-color: silver;font-size: 1.0em;border: none;border-radius: 1.0em;height: 1.0em;width: 1.0em;line-height: 1.0em;}
.body-content .content-core>div{display:inline-block;vertical-align:top;}
.body-content .content-core .submit-result{display: inline-block;background-color: #DCF2AA;background-image: url(images/success-icon.svg);background-repeat: no-repeat;background-size: 20px 20px;background-position: 18px 10px;width: 772px;height: 43px;padding-left: 50px;padding-right: 20px;padding-top: 10px;border-radius: 5px;margin-bottom: 15px;font-family: Karla-Regular;
    font-size: 16px;color: #374F73;clear:both;}
.body-content .content-core .submit-result >span{float:right;}
.body-content .content-core .submit-result.hide{display:none;}
.body-content .content-core .submit-result.decline{background-image: url(images/decline-icon.svg);}
.body-content .content-core-left{width:784px;margin-right: 30px;}
.body-content .content-core-left .content-claim{border:2px solid #F0F0F0;border-radius:10px;padding-bottom: 13px;width: 772px;}
.body-content .content-core-left .content-claim .title{color:#374F73;font-family:Karla-Regular;font-size:18px;margin-top: 9px;margin-bottom: 9px;padding-left:10px;}
.body-content .content-core-left .content-claim .bottom > div{display:inline-block;vertical-align:top;}
.body-content .content-core-left .content-claim .bottom .claim-info{width:375px;padding-left:10px;padding-right:10px;}
.body-content .content-core-left .content-claim .bottom .claim-info .claim-rating{width:355px;background-color:rgba(40,170,225,0.2); border-radius:4px;font-size:11px;padding-bottom:10px;}
.body-content .content-core-left .content-claim .bottom .claim-info .claim-rating .title{color:#FFFFFF;display: block;background-image:url("images/Contoso-Insurance-Info-Icon.svg");background-repeat: no-repeat;padding-left: 27px;
    background-size: 12px 12px;background-position: 10px 7px;background-color:#28AAE1;text-transform:uppercase;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.body-content .content-core-left .content-claim .bottom .claim-info .claim-rating .title>span{font-size:9pt;}
.body-content .content-core-left .content-claim .bottom .claim-info .claim-rating ul{padding-left:12px;padding-right:15px;list-style-type: none;}
.body-content .content-core-left .content-claim .bottom .claim-info .claim-rating ul li{background-image:url("images/bullet.svg");color:#374f73;font-size:14px;background-repeat:no-repeat;background-size: 7px 7px;background-position: 0px 7px;
    padding-left: 15px;}
.body-content .content-core-left .content-claim .bottom .claim-info >ul{list-style:none;padding-left:0;}
.body-content .content-core-left .content-claim .bottom .claim-info >ul>li:first-child{margin-top:13px;margin-bottom:18px;}
.body-content .content-core-left .content-claim .bottom .claim-info .property-value{margin-top:-2px;margin-bottom:20px;}
.body-content .content-core-left .content-claim .bottom .claim-info >ul>li:last-child>div.property-value{margin-top:-4px;}
.body-content .content-core-left .content-claim .bottom .claim-info .property-value.status{text-transform:capitalize;}
.body-content .content-core-left .content-claim .bottom .claim-img{width:373px;}
.body-content .content-core-left .content-claim .bottom .claim-img > img{width:373px;height:395px;border-radius:4px;}
.body-content .content-core-left .content-claim-history {color:#374F73;font-family:Karla-Regular;padding-top: 34px;}
.body-content .content-core-left .content-claim-history-listpage {color:#374F73;font-family:Karla-Regular;padding-top: 34px;}
.body-content .content-core-left .content-claim-history > span{font-size:18px;margin-left:12px;}
.body-content .content-core-left .content-claim-history .history-grid table{border-collapse: separate;
    border-spacing: 0 8px;width:100%;}
.body-content .content-core-left .content-claim-history .history-grid th{text-transform:uppercase;padding-left:12px;}
.body-content .content-core-left .content-claim-history tr.history-tr{background-color:#E6E6E5;margin-top:4px;margin-bottom:4px;height:45px;padding-top:14px;padding-bottom:16px;font-size:16px;}
.body-content .content-core-left .content-claim-history .history-grid td{padding-left:12px;border: solid 1px #E6E6E5;}
.body-content .content-core-left .content-claim-history .history-grid td:first-child {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.body-content .content-core-left .content-claim-history .history-grid td:last-child {border-bottom-right-radius: 5px; border-top-right-radius: 5px; }
.body-content .content-core-left .content-claim-history .history-grid td .context-menu-fire{position:relative;cursor:pointer;}
.body-content .content-core-left .content-claim-history .history-grid td img{width:15px;height:15px;}
.body-content .content-core-right{width:380px;}
.body-content .content-core-right .other-content{background-color:#E6E6E5;border-radius:5px;margin-bottom:20px;padding-left:10px;padding-right:10px; font-family:Karla-Regular;color:rgb(55,79,115);height:619px;}
.body-content .content-core-right .other-content .content-policy-holder{padding-top: 10px;}
.body-content .content-core-right .other-content .content-policy-holder >span{font-size:18px;}
.body-content .content-core-right .other-content .content-policy-holder .property-name{margin-top:8px;}
.body-content .content-core-right .other-content .content-map{padding-top:24px;}
.body-content .content-core-right .other-content .content-map img{width:360px;height:221px;border-radius:5px;}
.body-content .content-core-right .other-content .content-address {margin-top:30px;}
.body-content .content-core-right .other-content .content-date-from {margin-top:30px;}
.body-content .content-core-right .other-content .content-images-history {margin-top:30px;}
.body-content .content-core-right .other-content .content-images-history img {width:80px;height:80px;margin-right:10px;border-radius:3px;}
.body-content .content-core-right .other-content .content-images-history .property-value {padding-top:12px;}
.body-content .content-core-right .content-agent{background-color:#E6E6E5;border-radius:5px;margin-top:35px;padding-left:10px;padding-right:10px;color:rgb(55,79,115);font-family:Karla-Regular;height:90px;padding-top: 8px;}
.body-content .content-core-right .content-agent>span{font-size:18px;}
.body-content .content-core-right .content-agent>span{font-size:18px;}
.body-content .content-core-right .content-agent .agent-thumb{display:inline-block;width:14%;vertical-align: top;}
.body-content .content-core-right .content-agent .agent-thumb>img{width:42px;height:42px;}
.body-content .content-core-right .content-agent .agent-detail{display:inline-block;width:55%;}

/*context menu*/
.context-menu{position: absolute;width: 210px;height: 150px;left: -190px;border-radius: 4px;z-index: 2;box-shadow: 0px 0px 10px #888888, 0px 0px 10px #888888;background-color: #F5F5F5;padding: 20px 15px 0 15px;}
.context-menu .item{padding-bottom: 11px;padding-left: 15px;}
.context-menu .item:hover{background-color:#EDEDED;}
.context-menu .item.split-line{border-bottom:1px solid #EDEDED;margin-bottom:8px;}
.context-menu .item.split-line:hover{background-color:#F5F5F5;}
.claim-list.builder-list .context-menu .item:last-child{background-image: url(images/flag-icon.svg);background-repeat: no-repeat;background-size: 15px 15px;background-position: 15px 5px;padding-left: 40px;}


.body-content .claim-list .content-claim-history tr.history-tr{cursor:pointer;}
.body-content .claim-list .content-breadcrumb{font-size:14.2px;color:rgb(153,153,153);line-height:17px;letter-spacing:0em;}
.body-content .claim-list .content-claimId{font-size:34px;color:rgb(55,79,115);}
.body-content .claim-list .content-operation-area .operation-container{padding-top: 7px;padding-left: 5px;}
.body-content .claim-list .content-operation-area input{width:237px;height:31px;border-radius:5px;border:0px;background-image:url("images/Contoso-Insurance-Misc-Icons_SEARCH.png");background-size: 15px 15px;background-repeat: no-repeat;background-position: 10px;padding-left: 35px;}
.body-content .claim-list .content-operation-area .operate-button.filter{margin-left:30px;}
.body-content .claim-list .content-operation-area .operate-button.filter img{width:13px;margin-right:2px;}
.body-content .claim-list .content-core-left {width:774px;margin-right: 3px;}
.body-content .claim-list .content-core-right{padding-top: 12px;position: relative;margin-top: 30px;margin-left: 14px;width: 383px;}
.body-content .claim-list .content-core-right span{font-family:Karla-Regular;font-size:18px;color:#374F73;margin-left: 30px;}
.body-content .claim-list .content-core-right .content-cover{background-color:rgba(230,230,229,0.65);width:381px;height:291px;position:absolute;top:0;margin-left: 20px;border-radius: 5px;}
.body-content .claim-list .content-core-right img{width:360px;height:221px;margin-left: 31px;margin-top: 5px;border-radius:6px;}


.body-content .claim-list.builder-list .content-core{margin-top:17px;}
.body-content .claim-list.builder-list .content-core-left{width:1195px;}
.body-content .claim-list.builder-list .content-claim-history thead tr{height: 37px;vertical-align: top;}
.body-content .claim-list.builder-list .content-claim-history tr.history-tr.highRisk{background-color:#F4F073;}
.body-content .claim-list.builder-list .content-claim-history tr.history-tr.highRisk .risk-td{    background-image: url(images/warning-icon.svg);background-repeat: no-repeat;background-position: 11px 16px;background-size: 12px 12px;padding-left: 27px;}
