@{ 
    var signedOut = ViewBag.SignedOut;
}
@if(signedOut==null || signedOut != true)
{
    <div class="nav-logout navbar-height">
        <div class="btn"><img class="settings" src="@Url.Content("~/Content/images/navbar/Settings.svg")" /></div>
        <div class="btn question"><img src="@Url.Content("~/Content/images/navbar/Question.svg")" /></div>
        <div class="profile"><img src='@ViewBag.Thumbnail' /></div>
    </div>
}
