USE [PropertyInsurance]
GO
/****** Object:  Table [dbo].[Builders]    Script Date: 3/15/2017 10:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Builders](
	[BuilderId] [int] NOT NULL,
	[BuildersCompanyName] [varchar](50) NULL,
	[Risk] [varchar](10) NULL,
	[WebSite] [varchar](100) NULL,
	[Properties] [int] NOT NULL,
	[PercentProperties] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[Contact] [varchar](20) NULL,
	[Phone] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.Builders] PRIMARY KEY CLUSTERED 
(
	[BuilderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 3/15/2017 10:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimId] [int] NOT NULL,
	[PolicyHolderId] [int] NULL,
	[ClaimStatus] [varchar](10) NULL,
	[ClaimOpenDate] [datetime] NULL,
	[ClaimCloseDate] [datetime] NULL,
	[ClaimTypeId] [int] NULL,
	[ClaimMonth] [varchar](10) NULL,
	[ClaimYear] [int] NULL,
	[ClaimMonthYear] [varchar](10) NULL,
	[DaysToClose] [int] NULL,
	[ClaimConfidence] [varchar](10) NULL,
	[ClaimValue] [int] NULL,
	[ClaimDescription] [varchar](100) NULL,
	[ClaimPhotos] [varchar](100) NULL,
 CONSTRAINT [PK_dbo.Claims] PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClaimTypes]    Script Date: 3/15/2017 10:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClaimTypes](
	[ClaimTypeId] [int] NOT NULL,
	[ClaimTypeName] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.ClaimTypes] PRIMARY KEY CLUSTERED 
(
	[ClaimTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/15/2017 10:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[PolicyHolderId] [int] NOT NULL,
	[PolicyHolderName] [varchar](50) NULL,
	[PolicyHolderUserName] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[EmailAddress] [varchar](50) NULL,
	[DistrictId] [int] NULL,
	[BuilderId] [int] NULL,
	[AdjusterId] [int] NULL,
	[ManagerId] [int] NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[PolicyHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 3/15/2017 10:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] NOT NULL,
	[DistrictName] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/15/2017 10:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] NOT NULL,
	[FullName] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Builders] ([BuilderId], [BuildersCompanyName], [Risk], [WebSite], [Properties], [PercentProperties], [Address], [Contact], [Phone]) VALUES (1111, N'Adatum Corporation', N'High', N'http://www.adatum.com/', 4, N'5%', N'700 120th St, Orofino, ID 83544', N'Rob Barker', N'(555)111-2222')
INSERT [dbo].[Builders] ([BuilderId], [BuildersCompanyName], [Risk], [WebSite], [Properties], [PercentProperties], [Address], [Contact], [Phone]) VALUES (1116, N'VanArsdel, Ltd.', N'Low', N'http://www.vanarsdelltd.com', 19, N'25%', N'900 Antler Loop, Orofino, ID 83544', N'Margaret Au', N'(555)555-6666')
INSERT [dbo].[Builders] ([BuilderId], [BuildersCompanyName], [Risk], [WebSite], [Properties], [PercentProperties], [Address], [Contact], [Phone]) VALUES (1120, N'Fabrikam, Inc.', N'Low', N'http://www.fabrikam.com/', 43, N'56%', N'1100 84th Ave, Orofino, ID 83544', N'Ron Gabel', N'(555)222-3333')
INSERT [dbo].[Claims] ([ClaimId], [PolicyHolderId], [ClaimStatus], [ClaimOpenDate], [ClaimCloseDate], [ClaimTypeId], [ClaimMonth], [ClaimYear], [ClaimMonthYear], [DaysToClose], [ClaimConfidence], [ClaimValue], [ClaimDescription], [ClaimPhotos]) VALUES (15725, 1340001281, N'Approved', CAST(N'2017-02-01 00:00:00.000' AS DateTime), CAST(N'2017-02-23 00:00:00.000' AS DateTime), 2, N'Feb', 2017, N'Feb 2017', 22, N'95%', NULL, N'NA', N'NA')
INSERT [dbo].[Claims] ([ClaimId], [PolicyHolderId], [ClaimStatus], [ClaimOpenDate], [ClaimCloseDate], [ClaimTypeId], [ClaimMonth], [ClaimYear], [ClaimMonthYear], [DaysToClose], [ClaimConfidence], [ClaimValue], [ClaimDescription], [ClaimPhotos]) VALUES (15726, 1340001312, N'Approved', CAST(N'2016-11-01 00:00:00.000' AS DateTime), CAST(N'2017-01-01 00:00:00.000' AS DateTime), 3, N'Nov', 2016, N'Nov 2016', 61, N'95%', NULL, N'NA', N'NA')
INSERT [dbo].[Claims] ([ClaimId], [PolicyHolderId], [ClaimStatus], [ClaimOpenDate], [ClaimCloseDate], [ClaimTypeId], [ClaimMonth], [ClaimYear], [ClaimMonthYear], [DaysToClose], [ClaimConfidence], [ClaimValue], [ClaimDescription], [ClaimPhotos]) VALUES (15727, 1340001314, N'Approved', CAST(N'2016-10-01 00:00:00.000' AS DateTime), CAST(N'2016-02-18 00:00:00.000' AS DateTime), 3, N'Oct', 2016, N'Oct 2016', -226, N'95%', NULL, N'NA', N'NA')
INSERT [dbo].[ClaimTypes] ([ClaimTypeId], [ClaimTypeName]) VALUES (1, N'Collusion')
INSERT [dbo].[ClaimTypes] ([ClaimTypeId], [ClaimTypeName]) VALUES (2, N'Property Damage')
INSERT [dbo].[ClaimTypes] ([ClaimTypeId], [ClaimTypeName]) VALUES (3, N'Theft')
INSERT [dbo].[Customers] ([PolicyHolderId], [PolicyHolderName], [PolicyHolderUserName], [Address], [EmailAddress], [DistrictId], [BuilderId], [AdjusterId], [ManagerId]) VALUES (1340001276, N'Cindy Smith', N'Cindy', N'530 Michigan Ave, Orofino, ID 83544 ', N'Cindy.Smith@conntoso.com', 1, 1120, 29, 30)
INSERT [dbo].[Customers] ([PolicyHolderId], [PolicyHolderName], [PolicyHolderUserName], [Address], [EmailAddress], [DistrictId], [BuilderId], [AdjusterId], [ManagerId]) VALUES (1340001277, N'Ellen Adams', N'EllenA', N'190 Boulder Dr, Orofino, ID 83544', N'Ellen.Adams@conntoso.com', 1, 1116, 11, 12)
INSERT [dbo].[Customers] ([PolicyHolderId], [PolicyHolderName], [PolicyHolderUserName], [Address], [EmailAddress], [DistrictId], [BuilderId], [AdjusterId], [ManagerId]) VALUES (1340001278, N'Lisa Andrews ', N'LisaAndrews ', N'Dent Bridge Rd, Orofino, ID 83544', N'Lisa.Andrews@conntoso.com', 1, 1120, 31, 32)
INSERT [dbo].[Districts] ([DistrictId], [DistrictName]) VALUES (1, N'Riverside Water & Sewer District')
INSERT [dbo].[Districts] ([DistrictId], [DistrictName]) VALUES (2, N'Constoso Water & Sewer Distict')
INSERT [dbo].[Employees] ([Id], [FullName], [Username], [Password], [Role]) VALUES (1, N'Lynda Chaney', N'lyndac@onemtcqa.net', N'', N'ClaimsAdjuster')
INSERT [dbo].[Employees] ([Id], [FullName], [Username], [Password], [Role]) VALUES (2, N'Lina Horton', N'linah@onemtcqa.net', N'', N'Manager')
INSERT [dbo].[Employees] ([Id], [FullName], [Username], [Password], [Role]) VALUES (3, N'Annelie Zubar', N'anneliz@onemtcqa.net', N'', N'ClaimsAdjuster')
