<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>CANVIZPropInsB2C.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://propertyinsurancewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>propertyinsurancewebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PropertyInsuranceWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PropertyInsuranceWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://CANVIZPropInsB2C.onmicrosoft.com/WebApp-propertyinsurancewebapi.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>634693aa-4f74-4190-afaa-2b38b123b698</ADClientAPPID>
    <ADClientPassword>6I7LyVhdzFiCmv+zqzIGikhVlDIo4H07cVGCqNikf2I=</ADClientPassword>
    <ADReplyUrl>https://propertyinsurancewebapi.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>9de14100-0a21-43c4-a3d9-80a1dc2aac49</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>